<html>
    <div class="container">
        <form class="form-inline">
            <div class="form-group mx-sm-3 mb-2 mt-2 ">
                <label>Nom Article en tapant</label>
                <input #nom [(ngModel)]= "searchTerm" name="searchTerm" class="form-control">
            </div>
        </form>
            
        <div class="card shadow mb-4">
            <div class="card-body">
                <table  class="table table-striped">
                    
                    <thead>
                        <tr> <th>Id</th><th>Nom</th> <th>Prix</th> <th>Date Création</th><th>Classification</th> </tr>
                    </thead>
                    <tbody *ngFor= "let element of cosmetiques | searchFilter: searchTerm ">

                        <tr >
                            <td>{{element.idarticle}}</td>
                            <td>{{element.nomarticle}}</td>
                            <td>{{element.prixarticle}}</td>
                            <td>{{element.dateCreation | date:'dd/MM/yyyy'}}</td>
                            <td>{{element.classification?.nomClas}}</td>
                           <!--  <td><a *ngIf= "authService.isAdmin()"class="btn btn-danger" (click)="supprimerArticle_cosmetique(element)">Supprimer</a></td>
                            <td><a *ngIf= "authService.isAdmin()" class="btn btn-success" [routerLink]="['/update-article-cosmetique',element.idarticle]">Modifier</a></td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</html>
