<html>
    <div class="container">
        <div>
            <h2>Modifier un Article :</h2>
        </div>
        <form  (ngSubmit)="updateArticle_cosmetique()">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <label >ID Article</label>
                <input  readonly type="text" [(ngModel)]= "currentArticle.idarticle" name="idarticle" class="form-control">
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4" >
                <label >Nom Article</label>
                <input type="text"[(ngModel)]= "currentArticle.nomarticle" name="nomarticle" class="form-control">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                <label >Prix Article</label>
                <input type="number" [(ngModel)]= "currentArticle.prixarticle" name="prixarticle" class="form-control">
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <label >Date création</label>
                <input type="date" [ngModel]= "currentArticle.dateCreation | date: 'yyyy-MM-dd'" (ngModelChange)= " currentArticle.dateCreation= $event" name="dateCreation"class="form-control">
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <label >Classification</label>
                <select class="form-control form-control-lg" id="idCat" name="idCat" [(ngModel)]="updatedClasId">
                    <option *ngFor="let clas of Classifications" [value]="clas.idClas">
                        {{clas.nomClas}}
                    </option>
                </select>
            </div>
            <div>
                <button type="submit" (click)= "updateArticle_cosmetique()" class="btn btn-success">Modifer</button>
            </div>
        </form>
    </div>
            
</html>
